﻿<md-content layout="row" layout-align="center center" flex>
    <md-card layout-margin layout-padding flex-gt-md="33" flex="100">
        <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools">
                Login
            </h1>
        </md-toolbar>
        <md-card-content>
            <form name="loginForm">
                <md-input-container>
                    <label>Username</label>
                    <input required name="username" ng-model="VM.Model.username">
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Username is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>password</label>
                    <input required type="password" name="password" ng-model="VM.Model.password">
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <section layout="row" flex layout-align="end end">
                    <md-button class="md-raised md-primary" data-ng-click="VM.Login()">Sign In</md-button>
                </section>
            </form>
        </md-card-content>
    </md-card>
</md-content>
