﻿<div class="listing-module">
    <div>
        <label>Genres:</label>
        <md-select placeholder="Pick" ng-model="someVal">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
        </md-select>
    </div>
    <div>
        <label>Released:</label>
        <md-select placeholder="Pick" ng-model="someVal">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
        </md-select>
    </div>
</div>