﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="Moviebase" content="Personal Movie Catalog" />
    <title>Moviebase</title>

    <script>
            // Must be first. IE10 mobile viewport fix
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
    </script>

    @Styles.Render("~/Assets/Styles")
</head>
<body layout="column">

    <div data-ui-view class="index-content-view" flex layout="column"></div>

    <script type="text/javascript">
        window.BaseUrl = "@Url.Content("~/")";
    </script>

    @Scripts.Render("~/Assets/Scripts/ThirdParty")

    @*TODO: move this somehow to AngularTemplatesBundle*@
    <script type="text/javascript">
        angular.module("TemplateModule", []);
    </script>

    @Scripts.Render("~/Assets/Scripts/Infrastructure")
    @Scripts.Render("~/Assets/Scripts/TemplateModule")
    @Scripts.Render("~/Assets/Scripts/SharedModule")
    @Scripts.Render("~/Assets/Scripts/ListingModule")
    @Scripts.Render("~/Assets/Scripts/DetailModule")
    @Scripts.Render("~/Assets/Scripts/AccountModule")
    @Scripts.Render("~/Assets/Scripts/MainModule")

    @*Bringing down metadata on first request*@
    <script type="text/javascript">
        window.ApplicationMetadata = @Html.Raw(this.ViewBag.ApplicationMetadata);
    </script>

    @*Bootstraping application*@
    <script type="text/javascript">
        angular.element(document).ready(function () {
            var appName = "Moviebase";
            var app = new Application.Main.MainModule(appName);
            angular.bootstrap(document, [appName]);
        });
    </script>

</body>

</html>