﻿#content {
	float: left;
	width: 430px;
	padding: 0 0 0 19px;
}

#page {
	background: url(/images/img13.gif) repeat-y;
}
        
#header {
	background: url(/images/img14.gif) no-repeat left bottom;
}

#footer {
	background: url(/images/img15.gif) no-repeat;
}

#sidebar {
	float: right;
	width: 240px;
	padding: 0 19px 0 0;
}