#content {
	width: 640px;
	padding: 5px 30px 1px 30px;
}
        
#page {
	background: url(/images/img04.gif) repeat-y;
}
        
#header {
	background: url(/images/img05.gif) no-repeat left bottom;
}
        
#footer {
	background: url(/images/img06.gif) no-repeat;
}