* {
	margin: 0;
	padding: 0;
}

fieldset
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
    -khtml-border-radius: 4px;
    border-radius: 4px;    
    position: relative;
    padding: 18px 10px 10px 10px;
    margin-top: 0.7em;
    background:#E6E6E6;
    border: 1px solid #484848;    
}

legend
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
    -khtml-border-radius: 4px;
    border-radius: 4px;    
    position: absolute;
    top: -0.8em;
    left: 0.7em;
    background:#FFFFFF;
    padding: 0px 3px 0px 3px;
    border: 1px solid #484848;    
}

body {
	background: url(/images/img01.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1, h2, h3 {
	color: #484848;
	line-height: normal;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
	line-height: 1.6em;
}

form 
{
    display:inline;
}

blockquote {
}

ul {
}

ol {
}

a img 
{
    border: none;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

input#searchBox {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 3px;
	height: 17px;
	background-image: url(..//images/txtboxm.gif); 
	border-top: 1px #999999 solid; 
	border-bottom: 1px #999999 solid; 
	border-left: 0px #999999 solid; 
	border-right: 0px #999999 solid;
}

.left {
	float:left;
}

.right {
	float:right;
}

.jGrowlUi 
{
    width:500px;
}

/* Accordion */

#accordion { 
	padding: 6px;
	background-color: #FF;
}
.accordionTitle {
	font-size: 1em;
	padding: 5px 10px;
	margin-bottom: 5px;
	color: #FFF;
	background-color: #848484;
}
.ui-accordion .ui-accordion-content{ overflow:visible !important; }
.ui-accordion .ui-accordion-content{ overflow:hidden !important; }

.deleteEpisode {
	cursor: pointer;
	float:right;
	margin-right:25px;
}

.deleteGroup {
	cursor: pointer;
	float:right;
	margin-right:20px;
}

/* Logo */

#logo {
	float: left;
	padding: 20px 0 0 15px;
}

#logo h1 {
	margin: 0;
	padding: 0;
	font: normal 36px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#logo h2 {
	margin: -5px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#topMenu {
	float: right;
	width: 490px;
	height: 70px;
	padding-right: 5px;
	background: url(/images/img03.gif) no-repeat left top;
}

#topMenu ul {
	margin: 0;
	padding: 37px 0 0 0;
	list-style: none;
	line-height: normal;
	margin-left: 30px;
}

#topMenu li {
	display: inline;
	text-align: center;
}

#topMenu a {
	display: block;
	float: left;
	height: 20px;
	padding: 10px 20px 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: normal;
}

#topMenu a:hover, #topMenu .active a {
	color: #AA2808;
}

/* Page */

#page {
	width: 710px;
	margin: 0 auto;
}
        
#header {
	width: 710px;
	height: 96px;
	margin: 0 auto;
}
        
#footer {
	width: 710px;
	height: 50px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	color: #FFFFFF;
}


/* Content */

#content h1, #content h2, #content h3 {
	margin-bottom: 20px;
}

#content h1 {
	font-size: 136%;
}

#content h2 {
	font-size: 107%;
}

#content h3 {
	font-size: 92%;
}

#content ul, #content ol {
	list-style-position: inside;
}

/* Bordered Box */ 

.bordered_box .top_left
{
    background: url("/images/cb_top_left.gif") no-repeat;
    width:9px;
    height:10px;
    float:left;
}

.bordered_box .top_mid
{
    background: url("/images/cb_top_mid.gif") repeat-x;
    height:10px;
    width:641px;
    float:left;
}

.bordered_box .top_right
{
    background: url("/images/cb_top_right.gif") no-repeat;
    width:100%;
    height:10px;
    background-position:right;    
    float:left;
}

.bordered_box .mid_left
{
    background: url("/images/cb_mid_left.gif") repeat-y;
    width:9px;
    float:left;
}

.bordered_box .mid_mid
{
    background-color:#848484;
    margin-left:9px;
    width:631px;
    float:left;    
}

.bordered_box .mid_right
{
    background: url("/images/cb_mid_right.gif") repeat-y;
    width:631px;
    background-position:right;
    margin-left:9px;
}

.bordered_box .bot_left
{
    background: url("/images/cb_bot_left.gif") no-repeat;
    width:9px;
    height:10px;
    float:left;
}

.bordered_box .bot_mid
{
    background: url("/images/cb_bot_mid.gif") repeat-x;
    height:10px;
    width:641px;
    float:left;
}

.bordered_box .bot_right
{
    background: url("/images/cb_bot_right.gif") no-repeat;
    width:100%;
    height:10px;
    background-position:right;    
    float:left;
}

/* Title */
.titleContainer
{
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    width:640px;
}

/* Title Left */
.titleLeft
{
    float:left;
    width:260px;
}
.titleLeftBorder
{
    border-right: 1px solid #484848;
	background: #484848;
	padding-bottom: 1px;
}
.titlePoster 
{
    width: 260px;
    height: 380px;
	border-bottom: 1px solid #484848;
	border-top: 1px solid #484848;
}
.titleGenres
{
    margin: 5px;
    padding: 10px;
    background: #E6E6E6;
}

/* Title Right */
.titleRight
{
    float:left;
    width:380px;
}
.titleName
{
    font-size: 16px;
	background: #484848;
    padding: 10px 10px;    
    color: #fff;
}
.titleLinks
{
    text-transform: uppercase;
    background: #E6E6E6;
    font-size: 12px;
    padding: 5px 10px;
}
.titlePlot fieldset
{
    background-color: #FFFFFF;
    margin: 15px 10px;
}
.titlePlot legend
{
    font-size: 12px;
    font-weight: normal;
    background:#FFFFFF;
}
.titlePlotEntry
{
    font-family: times, serif;
    font-size: 16px;
    font-weight: normal;
}
.titleActors fieldset
{
    background-color: #FFFFFF;
    margin: 5px 10px;
    padding: 15px 0px 0px 0px;
}
.titleActors legend
{
    font-size: 12px;
    font-weight: normal;
    background:#FFFFFF;
}
.titleActorEntry
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}
.titleActorEntryEven
{
    background:#E6E6E6;
}
.titleActorEntryOdd
{
    background:#FFFFFF;
}
.titleActorProfile
{
    float:left;
}
.titleActorSpacer
{
    height:44px;
    width:1px;
    vertical-align:middle;
}
.titleActorCharacter
{
    font-size:11px;
    font-weight: normal;
    float:right;
}
.titleDirectors
{
    width:250px;
    padding:5px;
}
.titleDirectorEntry
{
    float:left;
    width:114px;
}
.titleProducers
{
    width:250px;
    padding:5px;
}
.titleProducerEntry
{
    float:left;
    width:114px;
}
.titleGroups
{
    width:250px;
    padding:5px;
    margin-top:20px;
}
.titleSuggestions
{
    width:250px;
    padding:5px;
    margin-top:20px;
}
.titleSuggestionEntry
{
    margin: 2px 4px;
    float:left;
    background-color: #484848;
    height: 156px;
    width: 106px;
}
.titleSuggestionEntry img
{
    border: 3px solid #484848;
}
.titleGroupDetailEntry
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
    -khtml-border-radius: 4px;
    border-radius: 4px;
    float:left;
    width:248px;
    margin-bottom:5px;
    border: 1px solid #484848;
}
.titleGroupDetailHeader
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
    -khtml-border-radius: 4px;
    border-radius: 4px;
	background: #E6E6E6;
	padding: 10px 10px;
}
.titleGroupDetailEpisodes
{
    border-radius: 0px 0px 4px 4px; 
    -moz-border-radius: 0px 0px 4px 4px; 
    -webkit-border-radius: 0px 0px 4px 4px; 
    background:#FFFFFF;    
}
.titleGroupDetailEpisodeEntry
{
    border-radius: 0px 0px 4px 4px; 
    -moz-border-radius: 0px 0px 4px 4px; 
    -webkit-border-radius: 0px 0px 4px 4px; 
    padding: 3px 10px;
    border-top: 1px solid #484848;
}
/* Notification */
#notification 
{
    display:none;
}

.profileThumbnail
{
    width:32px;
    height:44px;
    padding:0px 2px;
    vertical-align:middle;
}

.posterImageSmall
{
    width:100px;
    height:150px;
    margin-top:5px;
}

.posterImageSmallContainer
{
    background-color:#484848;
    float:left;
    margin:8px;
    width:110px;
    height:160px;
    text-align:center;
}

.editViewEntry
{
    text-align:center;
}

.listingThumbnail
{
    width:100px;
    height:150px;
}

.posterImageLarge
{
    padding: 5px 0px 0px 5px;
    width:250px;
    height:375px;
}

.imdbContainer
{
}

.imdbResult
{
    margin-top:5px;
	cursor:pointer;
}

.imdbPosterBorder
{
    background-color:#484848;
    float:left;
    margin:2px;
    width:110px;
    height:160px;
    text-align:center;
}

#matchContainer
{
    margin-top:5px;
}

#matchTitle
{
	float:left;
	padding:0 10px 0 10px;f
	ont-size:120%;
	height:20px;
	color:#FFFFFF;
}

.solidBox .validation-summary-top
{
    background: url("/images/img16.gif") no-repeat;
    height:6px;
    width:400px;  
    margin-left:10px;
}

.solidBox .validation-summary-body
{
    background: url("/images/img17.gif") repeat-y;
    width:390px;
    padding: 10px 15px 10px 15px;
    margin-left:10px;    
}

.solidBox .validation-summary-bottom
{
    background: url("/images/img18.gif") no-repeat;
    height:6px;
    width:400px;   
    margin-left:10px;
}

/* Group */
.groupRow
{
    margin-bottom:5px;
}

.boxedTop
{
    background: url("/images/img07.gif") no-repeat;
    height:6px;
    width:400px;
    margin-left:10px;    
}

.boxedBody
{
    color:#FFFFFF;
    background: url("/images/img08.gif") repeat-y;
    width:390px;
    padding: 10px 15px 10px 15px;
    margin-left:10px;    
}

.boxedBottom
{
    background: url("/images/img09.gif") no-repeat;
    height:6px;
    width:400px;
    margin-left:10px;    
}

.groupContainer input[type="text"]
{
    width:150px;
}

.groupContainer select
{
    width:150px;
}


/* Episode */

.episodeRow
{
    margin-bottom:5px;
}

.episodeTop
{
    background: url("/images/img10.gif") no-repeat;
    height:4px;
    width:290px;
}

.episodeBody
{    
    background: url("/images/img11.gif") repeat-y;
    width:290px;
    padding: 5px 15px 10px 15px;
}

.episodeBottom
{
    background: url("/images/img12.gif") no-repeat;
    height:4px;
    width:290px;
}

/* Sidebar */

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 1px;
	padding: 20px 0;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 7px 20px;
	border: none;
}

#sidebar h2 {
	padding: 10px 5px 5px 20px;
	border-bottom: 1px dotted #000000;
	font-size: 100%;
	vertical-align: middle;
}

#sidebar p {
	margin: 0;
	line-height: normal;
}

/* Footer */

#footer p {
	margin: 0;
	text-align: center;
	font-size: 77%;
}

#footer a {
	text-decoration: underline;
	color: #FFFFFF;
}

#footer a:hover {
	text-decoration: none;
}

.titleInfo 
{
    margin-left:10px;
}

.titleInfo input[type="text"]
{
    width:220px;
}

.titleInfo textarea 
{
    width:220px;
    height:100px;
}

.titleInfo select
{
    width:100px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ee9a00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ee9a00;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ee9a00;
    margin-bottom:15px;
}

.validation-summary-valid {
    display: none;
}

.titleListingTable
{
    margin-left: 6px;
    margin-right: auto;
}

.titleHomeListing 
{
    margin: 7px;
    padding: 0px;
}

.titleHomeListingTop
{
    background-color: #484848;
    height:3px;
    width:106px;
}

.titleHomeListingBody
{
    background-color: #484848;
    height: 150px;
    padding: 0px 3px;
   
}

.titleHomeListingBottom
{
    background-color: #484848;
    height:3px;
    width:106px;
}

/* Title Listing */
.pagination div 
{
    display: block;
    float: left;
    font-size: 11px;
    clear: right;
    font-family: Verdana,Arial,sans-serif;
    margin: 5px 0px;
}
.pagination div a 
{
    border: 1px solid #DFDFDF;
    display: block;
    height: 14px;
    line-height: 12px;
    padding: 2px 4px;
    margin-left: 1px;
    background: white;
    text-decoration: none;
    color: #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.pagination div a:hover
{
    border:1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.pagination div.active 
{
    color: #666;
    background-color: #EEE;
	border: 1px solid #999;
	height: 14px;
    line-height: 12px;
    padding: 2px 4px;
    margin-left: 1px;    
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.tooltip {
	display:none;
	background-color:#ffa;
	border:1px solid #cc9;
	padding:3px;
	font-size:13px;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
}

/* misc */

a 
{
	text-decoration: none;
	color: #323B51;
}

.inline
{
    display:inline;
}
.float_left
{
    float:left;
}

.float_right
{
    float:right;
}

.border_solid
{
    border:solid;
}

.clear
{
    clear: both;
}

.top
{
    vertical-align:top;
}

.center
{ 
    margin-left: auto;
    margin-right: auto;
}

.center table
{ 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text_center
{
    text-align:center;
}

.text_top
{
    vertical-align:top;
}

.hidden
{
    display:none;
}

.fill
{
    height:100%;
    width:100%;
}