﻿<mv-title-bar></mv-title-bar>
<div layout="row" flex class="content-wrapper">
    <md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-content layout="column" data-ui-view="SideBar" flex></md-content>
    </md-sidenav>
    <div layout="column" flex class="content-wrapper" id="primary-col">
        <md-content class="page-content" data-ui-view layout="column" flex></md-content>
    </div>
</div>
