doctype html
html(id="ng-app", class="ng-app:app", data-ng-app="app", xmlns:ng="http://angularjs.org")
	head
		meta(charset='utf-8')
		//-link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.css")
		link(rel="stylesheet", href="/vendor/jsddm/jsddm.css")
		link(rel="stylesheet", href="/styles/style.css")

		//if lt IE 9
			script(src="/vendor/html5shiv.js")

		//if lt IE 8
			script(type='text/javascript').
				document.createElement('ng-include');
				document.createElement('ng-pluralize');
				document.createElement('ng-view');
				document.createElement('ng:include');
				document.createElement('ng:pluralize');
				document.createElement('ng:view');

		//if lte IE 8
			script(src="/vendor/json3.js")
	body
		div(id="wrapper", class="ng-cloak", data-ng-cloak)
			div#header
				div#logo
					h1
						a(href="/") Moviebase
					h2
						a(href="#") Personal Movie Catalog
				div(id="topMenu", data-ng-controller="MenuController")
					ul
						li.first
							a(href="/") Home
						li(data-ng-if="user.username")
							a(href="/record") Create New
						li(data-ng-if="!user.username")
							a(href="/user") Log On
						li(data-ng-if="user.username")
							a(href="#", data-ng-click="logout()") Log Off
			div#page
				div.ng-view
				div.clear
			div#footer
				p#legal
				p#links

		script(src="/vendor/jquery-1.10.2.js")
		//-script(src="/vendor/bootstrap/js/bootstrap.js")

		//-script(src="/vendor/require.js")
		script(src="/vendor/angular.js")
		script(src="/vendor/angular-route.js")
		script(src="/vendor/angular-cookies.js")
		script(src="/vendor/angular-resource.js")
		script(src="/vendor/angular-animate.js")
		script(src="/vendor/socket.io/socket.io.js")
		//-script(src="/vendor/jsddm/jsddm.js")
		script(src="/vendor/underscore.js")
		script(src="/vendor/oreq.js")
		script(src="/vendor/moment-with-langs.js")

		script(src="/custom/mixins.js")
		script(src="/custom/services.js")

		script(src="/scripts/app.js")
		script(src="/scripts/services.js")
		script(src="/scripts/directives.js")
		script(src="/scripts/home/MenuController.js")
		script(src="/scripts/home/HomeController.js")
		script(src="/scripts/home/InfoController.js")
		script(src="/scripts/detail/DetailController.js")
		script(src="/scripts/record/RecordController.js")
		script(src="/scripts/user/LoginController.js")