﻿extends ../double
block content
	form(action='/record/save', method='post')
		div.boxedTop.titleInfoTop
		div.boxedBody.titleInfo
			table(width="390")
				tr
					td(rowspan="3")
						div.posterImageSmallContainer
							img(data-ng-src="{{title.SmallCoverUrl || '/images/default_poster_small.jpg'}}" id="posterImage" class="posterImageSmall" alt="title.TitleName")
						div(class="editViewEntry", data-ng-show="title.TitleId && title.TitleId > 0")
							a(href="/detail/{{title.TitleId}}") View
					td(colspan="2")
						label(for="Name") Name
						br
						input(id="titleNameInput", name="Name", type="text", data-ng-model="title.TitleName", data-ng-change="refreshMatches(title.TitleName)")
						br
						//-@Html.ValidationMessageFor(x => x.Name)&nbsp;
				tr
					td(colspan="2")
						label(for="Plot") Plot
						br
						textarea(col="20", id="plotNameInput", name="Plot", rows="5", data-ng-model="title.Plot")
						br
						//-@Html.ValidationMessageFor(x => x.Plot)&nbsp;
				tr
					td
						label(for="CategoryId") Category
						br
						select(id="CategoryId", name="CategoryId", data-ng-model="title.CategoryId", data-ng-options="item.CategoryId as item.CategoryName for item in categories")
						br
						//-@Html.ValidationMessageFor(x => x.CategoryId)&nbsp;
		div.boxedBottom.titleInfoBottom
		div.clear
		br
		div(class="groupContainer", data-ng-repeat="group in title.TitleGroups")
			div.groupRow
				div.boxedTop
				div.boxedBody
					table(width="350", style="float:left;")
						tr
							td
								label(for="Description") Description
								br
								input(id="Description", name="Description", type="text", data-ng-model="group.Description")
								br
							td
								label(for="MediaId") Media
								br
								select(id="MediaId", name="MediaId", data-ng-model="group.MediaId", data-ng-options="item.MediaId as item.MediaName for item in media")
								br
						tr
							td
								label(for="SlotId") Slot
								br
								select(id="SlotId", name="SlotId", class="slotSelector", data-ng-model="group.SlotId", data-ng-options="item.SlotId as item.SlotLabel for item in group.slots")
								br
							td
								label(for="ContainerId") Container
								br
								select(id="ContainerId", name="ContainerId", class="containerSelector", data-ng-model="group.ContainerId", data-ng-options="item.ContainerId as item.ContainerName for item in containers", data-ng-change="refreshSlots()")
								br
					div(class="deleteGroup", data-ng-click="removeGroup(group)")
						img(src="/images/del.gif", alt="Delete Group", border="0")
					br
					div.clear
					br
					div(class="episodeContainer", data-ng-repeat="ep in group.Episodes")
						//- episode starts here
						div.episodeRow
							div.episodeTop
							div.episodeBody
								div(style="float:left;")
									label(for="Name") Name
									br
									input(id="Name", name="Name", type="text", data-ng-model="ep.EpisodeName")
									br
									//-@Html.ValidationMessageFor(x => x.Name)&nbsp;
									br
									label(for="InstanceId") Instance
									br
									select(id="InstanceId", name="InstanceId", data-ng-model="ep.InstanceId", data-ng-options="item.InstanceId as item.InstanceName for item in instances")
									br
									//-@Html.ValidationMessageFor(x => x.InstanceId)&nbsp;
									br
								div(class="deleteEpisode" data-ng-click="removeEpisode(group, ep)")
									img(src="/images/del.gif", alt="Delete Episode", border="0")
								div.clear
							div.episodeBottom
							//- episode ends here
					input(type="button", class="addEpisodeDetail", value="Add Episode", data-ng-click="addEpisode(group)")
				div.boxedBottom
		input(type="button", id="addGroupDetail", value="Add Disc", style="margin-left:15px;", data-ng-click="addGroup()")
		div(style="float:right;margin-right:25px;")
			input(type="button", value="Save Title", data-ng-click="saveTitle(title)")

block sidebar
	div#matchTitle Matches
	div(style="float:left;")
		img(src="/images/progress.gif", alt="Progress", id="imdbProgress", ng-show="loadingMatches")
	div.clear
	div(style="padding:5px;")
		hr
	div#matchContainer
		div(id="accordion", data-ng-show="matches")
			div(data-ng-repeat="match in matches")
				div(class="accordionTitle", data-ng-click="match.Show = !match.Show")
					{{match.Title}}
				div.clear
				div(data-ng-repeat="poster in match.Posters", class="imdbPosterBorder", data-ng-show="match.Show")
					img(data-ng-src="{{poster.SmallPosterUrl}}", alt="match.Title" class="imdbResult listingThumbnail", data-ng-click="setMatch(match, poster.SmallPosterUrl, poster.PosterUrl)")
				div.clear