extends ../single
block content
	div(id="filterBar")
		div.top_left
		div.top_mid
			div.float_left
				ul(jsddm, id="jsddm")
					li
						a(href="#") Genre
						ul
							li(data-ng-repeat="g in genres")
								a(href="#", data-ng-click="AddParam({ genre: g.GenreId })") {{g.GenreName}}
					li
						a(href="#") Release
						ul
							li(data-ng-repeat="y in years")
								a(href="#", data-ng-click="AddParam({ year: y.YearId })") {{y.YearName}}
					li
						a(href="#") Order
						ul
							li(data-ng-repeat="o in orders")
								a(href="#", data-ng-click="SetParam({ order: o.OrderId })") {{o.OrderName}}
			form
				div#search_form
					input(type="text", name="t", data-ng-model="searchValue")
					| &nbsp;
					input(type="submit", value="Search", data-ng-click="SetParam({ search: searchValue })")
			div.clear
		div.top_right
		div.clear
		div.bordered_box
			div.mid_left
				div.mid_mid
					div.mid_right
						div.clear
							div(class="float_left applied_filter", data-ng-show="searchFilter")
								a(href='#', data-ng-click="RemoveParam({ search: searchFilter })") "{{searchFilter}}"
							div(class="float_left applied_filter", data-ng-repeat="g in genreFilter")
								a(href='#', data-ng-click="RemoveParam({ genre: g })") {{GenreName(g)}}
							div(class="float_left applied_filter", data-ng-repeat="y in yearFilter")
								a(href='#', data-ng-click="RemoveParam({ year: y })") {{YearName(y)}}
						div.clear
			div.clear
			div.bot_right
				div.bot_mid
					div.bot_left
		div.clear

	div.float_right
		div(class="pagination", data-ng-show="titles")
			//previous-off
			div(class="previous", data-ng-show="hasPrevPage", data-ng-click="SetParam({ page: pageIndex - 1 })")
				a(href="#") « Prev
			span(data-ng-repeat="i in pageCount track by $index")
				div
					a(href="#", data-ng-show="pageIndex != $index", data-ng-click="SetParam({ page: $index })") {{$index + 1}}
				div(class="active", data-ng-show="pageIndex == $index") {{$index + 1}}
			//next-off
			div(class="next", data-ng-show="hasNextPage")
				a(href="#", data-ng-click="SetParam({ page: pageIndex + 1 })") Next »

	div(class="bordered_box", style="width:649px", data-ng-show="titles")
		div.top_right
			div.top_mid
				div.top_left
		div.clear
		div.mid_left
			div.mid_mid
				div.mid_right
					br
					table(class="titleListingTable", border="0", cellspacing="0", cellpadding="0")
						tr(ng-repeat="titleRow in titles")
							td(ng-repeat="title in titleRow")
								div.titleHomeListing
									div.titleHomeListingTop
									div.titleHomeListingBody
										a(href="/detail/{{title.TitleId}}")
											img(data-ng-src="{{title.SmallCoverUrl || '/images/default_poster_small.jpg'}}", class="listingThumbnail", alt="{{title.TitleName}}", title="{{title.TitleName}}")
									div.titleHomeListingBottom
					br
		div.clear
		div.bot_right
			div.bot_mid
				div.bot_left