﻿.detail-module .suggestion-image-container {
  width: 100%;
  height: 100%; }
  .detail-module .suggestion-image-container img {
    max-width: 100%;
    max-height: 100%; }

/*# sourceMappingURL=detail.css.map */