﻿body {
    overflow: hidden;
}

.index-content-view {
    //height: 100%;
}

.main-content-view {
    //height: 100%;
}

.content-wrapper {
    //min-height: 100%;
    position: relative;
}

#primary-col {
  overflow: hidden;
}

// Temporary CSS
@import "temp";

// Modules
@import "detail";
@import "listing";

// Directives
@import "mv-title-bar";
