﻿// temporary
.gridListTiles md-icon {
    width: 50%;
    height: 50%;
}

.gridListTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gridListTiles .s64 {
    font-size: 64px;
}

.gridListTiles .s32 {
    font-size: 48px;
}

.gridListTiles md-icon.fa {
    display: block;
    padding-left: 0;
}

.gridListTiles md-icon.s32 span {
    padding-left: 8px;
}

.gridListTiles md-grid-list {
    margin: 8px;
}

.gridListTiles .gray {
    background: #f5f5f5;
}

.gridListTiles .green {
    background: #b9f6ca;
}

.gridListTiles .yellow {
    background: #ffff8d;
}

.gridListTiles .blue {
    background: #84ffff;
}

.gridListTiles .darkBlue {
    background: #80d8ff;
}

.gridListTiles .deepBlue {
    background: #448aff;
}

.gridListTiles .purple {
    background: #b388ff;
}

.gridListTiles .lightPurple {
    background: #8c9eff;
}

.gridListTiles .red {
    background: #ff8a80;
}

.gridListTiles .pink {
    background: #ff80ab;
}

.gridListTiles md-grid-tile {
    transition: all 300ms ease-out 50ms;
}

.gridListTiles md-grid-tile md-icon {
    padding-bottom: 32px;
}

.gridListTiles md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px;
}

.gridListTiles md-grid-tile-footer figcaption {
    width: 100%;
}

.gridListTiles md-grid-tile-footer figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
