﻿extends ../single
block content
	div(style="margin:50px 0px 50px 120px")
		//- @Html.BoundedValidationSummary(true, "Please correct the errors and try again.", new { @class = "solidBox" })
		form(action='/login', method='post')
			div.boxedTop
			div(class="boxedBody",style="padding:25px;")
				p Please enter your user name and password.
				br
				div.editor-label
					label(for="UserName") User name
				div.editor-field
					input(data-val="true", data-val-required="The User name field is required.", id="UserName", name="UserName", type="text" value="")
					//- @Html.ValidationMessageFor(m => m.UserName)

				div.editor-label
					label(for="Password") Password

				div.editor-field
					input(data-val="true", data-val-required="The Password field is required.", id="Password", name="Password", type="password")
					//- @Html.ValidationMessageFor(m => m.Password)
				br
				div.editor-label
					input(data-val="true", data-val-required="The Remember me? field is required.", id="RememberMe", name="RememberMe", type="checkbox", value="true")
					label(for="RememberMe", class="checkbox inline")&nbsp;Remember me?

				br
				p
					input(type="submit", value="Log On")
			div.boxedBottom