﻿extends ../single
block content
	div(id="titleContainer", data-ng-show="title")
		div.titleLeft
			div.titleLeftBorder
				div.titlePoster
					img(data-ng-src="{{!title.TitleId ? '/images/spacer.gif' : title.CoverUrl || '/images/default_poster.jpg'}}", class="posterImageLarge", alt="{{title.TitleName))")
				div.titleGenres
					span(class="titleGenreEntry", data-ng-repeat="g in title.Genres")
						a(href="/?genre={{g.GenreId}}") {{g.GenreName}}
						| &nbsp;
			div.titleLeftBorder
				div.titleGroups
					div(class="titleGroupDetailEntry", data-ng-repeat="g in title.TitleGroups")
						div(class="titleGroupDetailHeader", title="Default")
							span.float_left
								img(src="/images/dvdx.png", alt="Unknown", title="Default")
							span(class="float_left", style="padding:2px;")
								span {{g.ContainerName}}
								br
								span {{g.SlotLabel}}
							div.clear
						div.clear
						div(class="titleGroupDetailEpisodes", data-ng-repeat="e in g.Episodes")
							div(class="titleGroupDetailEpisodeEntry", title="{{e.InstanceName}}") {{e.EpisodeName}}
				div.clear
				div.titleDirectors
					fieldset
						legend Directed By
						span(class="titleDirectorEntry", data-ng-repeat="p in title.TitlePeople | filter: { TitleRoleId: 3 }")
							{{p.FullName}}
				div.clear
				div.titleProducers
					fieldset
						legend Produced By
						span(class="titleProducerEntry", data-ng-repeat="p in title.TitlePeople | filter: { TitleRoleId: 4 }")
							{{p.FullName}}
			div(class="titleLeftBorder", data-ng-show="suggestions")
				div.titleSuggestions
					fieldset
						legend Suggestions
						div.titleSuggestionEntry
							a(href="#")
								img(data-ng-src="/images/spacer.gif" class="thumbnail" alt="@t.Name" title="@t.Name")
			br
		div.titleRight
			div.titleDetails
				div.titleName {{title.TitleName}}
				div.titleLinks
					a(href="{{'http://www.imdb.com/title/' + title.ImdbId}}") Imdb
					| &nbsp;
				//@if (Request.IsAuthenticated)
				//{
				//	using (Html.BeginForm("SyncTitle", "Detail", new { @id = Model.TitleId }))
				//	{
				//		<a href="javascript:void(0)" id="syncTitleLink">Sync</a>
				//	}
				//	@:&nbsp;
				//	<a href="@Url.Action("Save", "Detail", new { @id = Model.TitleId })">Edit</a>
				//}
				div(class="titlePlot", data-ng-show="title.Plot")
					fieldset
						legend Overview
						div.titlePlotEntry {{title.Plot}}
				div(class="titleActors", data-ng-show="title.TitlePeople")
					fieldset
						legend Cast
						div(class="titleActorEntry titleActorEntryOdd", data-ng-repeat="p in title.TitlePeople | filter: { TitleRoleId: 2 }")
							span.titleActorProfile
								img(data-ng-src="{{p.ThumbnailUrl || '/images/name.png'}}" class="profileThumbnail" alt="{{p.FullName}}")
								span {{p.FullName}}
							span.titleActorCharacter
								img(src="/images/spacer.gif" class="titleActorSpacer" alt="")
								span {{p.CharacterName}}
							div.clear
		br
