﻿<md-toolbar layout="row" layout-align="space-between center">
    <!--The left side-->
    <h1 class="md-toolbar-tools">
        <md-button ng-click="VM.ToggleLeft()" hide-gt-sm class="md-icon-button" aria-label="Menu">
            <i class="fa fa-bars fa-2x pointer" hide-gt-sm></i>
        </md-button>
        <span class="mv-title-text" hide-sm><a href="/">Moviebase</a></span>
    </h1>
    <!--The right side-->
    <span layout="row" class="md-toolbar-tools" layout-align="end center">
        <md-input-container md-no-float class="mv-title-search">
            <md-icon md-font-icon="fa-search" class="fa s32 md-hue-2"></md-icon>
            <input ng-model="user.phone" type="text" placeholder="Search">
        </md-input-container>
        <md-button data-ng-click="VM.RefreshSuggestions()" class="md-icon-button" aria-label="Sync">
            <i class="fa fa-refresh fa-2x pointer"></i>
        </md-button>
        <md-button href="/Account" class="md-icon-button" aria-label="Options">
            <i class="fa fa-user fa-2x pointer"></i>
        </md-button>
    </span>
</md-toolbar>